<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wscq.yong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <!--intent消息过滤用来,此处标记用来接收系统的启动请求-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.tasktype.StartTypeTestActivity" />
        <activity
            android:name=".activity.tasktype.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.tasktype.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.tasktype.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.tasktype.StandardActivity" />
    </application>

</manifest>